* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #1e293b;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* HERO */
header {
    text-align: center;
    padding: 60px 20px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background: #f97316;
    border-radius: 20px;
    cursor: pointer;
}

/* MENU GRID */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

/* CARD */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 150px;
}